.progress-block {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin: 5px;
}
.progress-bar {
  box-sizing: border-box;
  width: 80%;
  height: 15px;
  margin: 0 5px;
  border-radius: 3px;
  background-color: var(--background-color10);
}

.progress-bar.color {
  background-color: var(--background-color10);
}

.progress-scale {
  height: 100%;
  background-color: #40df94;
  border-radius: 3px;
  visibility: hidden;
}

.progress-scale.dark {
  background-color: var(--background-color6);
}

.total-task,
.done-task {
  flex: 1 35%;
}

.total-task.dark,
.done-task.dark {
  color: var(--color2);
}

.total-task.color,
.done-task.color {
  color: var(--color3);
}

.done-task {
  text-align: right;
}

.done-task_text,
.total-task_text {
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 440px) {
  .progress-bar {
    width: 36%;
  }
}
