.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 25px;
  padding: 0 3px;
  background-color: var(--background-color4);
}

.footer.dark {
  background-color: var(--background-color5);
}

.footer.color {
  background-color: var(--background-color6);
}

.footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.footer-item {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--color1);
}

.footer-item.dark {
  color: var(--color2);
}

.footer-item.color {
  color: var(--color3);
}

.gh-link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.gh-logo {
  width: 17px;
  margin-left: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.gh-logo-fill1,
.gh-logo-fill2 {
  fill: var(--color1);
}

.gh-logo-fill1.dark,
.gh-logo-fill2.dark {
  fill: var(--color2);
}

.gh-logo-fill1.color,
.gh-logo-fill2.color {
  fill: var(--color3);
}

.gh-link:hover .gh-logo-fill1 {
  fill: var(--link-color1);
}

.gh-title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--color1);
}

.gh-title.dark {
  color: var(--color2);
}

.gh-title.color {
  color: var(--color3);
}

.gh-link:hover .gh-title {
  color: var(--link-color1);
  text-decoration: underline;
}

.rss-link {
  display: flex;
  align-items: center;
  margin-left: 15px;
  transition: 0.3s;
}

.rss-logo {
  width: 50px;
  fill: var(--color1);
}

.rss-logo.dark {
  fill: var(--color2);
}

.rss-logo.color {
  fill: var(--color3);
}

.rss-logo:hover {
  fill: var(--link-color1);
  text-decoration: underline;
}
